// SpecificCommentPage.module.scss

.cartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5ee; /* Change the background color */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: relative;
  
    table {
      margin-bottom: 15px;
    }
  
    th {
      padding-right: 10px;
    }
  
    td {
      padding-left: 10px;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    button {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      background-color: #008CBA;
      color: white;
      margin-top: auto;
      align-self: flex-end;
  
      &:hover {
        background-color: #007B8A;
      }
    }
  
    .link {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: blue;
      text-decoration: none;
  
      &:hover {
        color: purple;
      }
    }
  }
  